@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}


@layer utilities {
  /* Buttons */
  .btn {
    @apply block py-2 px-4 text-white font-medium bg-indigo-600 duration-150 hover:bg-indigo-500 active:bg-indigo-700 rounded-lg shadow-lg hover:shadow-none
  }
  .btn-primary {
    @apply block py-2 px-4 text-white font-medium bg-green-100 duration-150 hover:bg-green-200 active:bg-gray-700 rounded-lg shadow-lg hover:shadow-none
  }
  .btn-secondary {
    @apply block py-2 px-4 text-white font-medium bg-gray-600 duration-150 hover:bg-gray-500 active:bg-gray-700 rounded-lg shadow-lg hover:shadow-none
  }
  .btn-third {
    @apply block py-2 px-4 text-gray-700 hover:text-gray-500 font-medium duration-150 active:bg-gray-100 border rounded-lg
  }
  .btn_white { 
    @apply border-white bg-green-100 px-8 py-3 rounded-full text-white hover:bg-green-200 hover:text-white
  }
  .btn_outline { 
    @apply border-gray-900  px-8 py-3 rounded-full hover:bg-gray-900 hover:text-white
  }
  /* rectangle */
  .btn_white_rect {
    @apply border-white bg-gray-700 px-8 py-3 text-white
  }

  .max-container {
    @apply  mx-auto max-w-[1540px];
  }

  .padding-container {
    @apply px-6 lg:px-6 xl:px-0 2xl:px-0;
  }
  .custom-screen {
    @apply max-w-screen-xl mx-auto px-4 md:px-8;
  }
}

/* .button-color {
  background-color: #284b63;
  color: white;
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}