@tailwind base;
@tailwind components;
@tailwind utilities;

.button-color {
  background-color: #284b63;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}